<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Update Employee</h2>
    <form action="#" th:action="@{/saveEmployee}"th:object="${employee}" method ="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{firstName}"  class="form-control mb-4 col-4">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Update Employee</button>

    </form>
    <hr>
    <a th:href="@{/}"> Back to Employee List</a>
</div>

</body>
</html>